.container{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
@media (max-width: 768px){
    .container{
        padding: 0;
    }

}
button{
    min-width: 200px;
    min-height: 40px;
    align-self: flex-start;
    margin-right: 16px;
    margin-left: 16px;
}
@media (max-width: 768px){
    button{
        align-self: unset;
    }
}
