<div class="container">
    <form [formGroup]="addEmployeeForm" (ngSubmit)="onSubmit()">
        <h2>Datos del Empleado</h2>
        <div class="form_field">
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" placeholder="Nombre" formControlName="employeeName">
                <mat-error
                    *ngIf="!addEmployeeForm.controls['employeeName'].valid && addEmployeeForm.controls['employeeName'].touched">Debes
                    rellenar este campo.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Apellido 1</mat-label>
                <input matInput type="text" placeholder="Apellido 1" formControlName="apellido1">
                <mat-error *ngIf="!addEmployeeForm.controls['apellido1'].valid && addEmployeeForm.controls['apellido1'].touched">Debes
                    rellenar este campo.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Apellido 2</mat-label>
                <input matInput type="text" placeholder="Apellido 2" formControlName="apellido2">
                <mat-error *ngIf="!addEmployeeForm.controls['apellido2'].valid && addEmployeeForm.controls['apellido2'].touched">Debes
                    rellenar este campo.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Codigo de Empleado</mat-label>
                <input matInput type="text" placeholder="Codigo de Empleado" formControlName="employeeCode">
                <mat-error *ngIf="!addEmployeeForm.controls['employeeCode'].valid && addEmployeeForm.controls['employeeCode'].touched">Debes
                    rellenar este campo.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Rol del empleado</mat-label>
                <mat-select placeholder="Rol del empleado" formControlName="employeeCode">
                  <mat-option value="3">Empleado</mat-option>
                  <mat-option value="2">Encargado</mat-option>
                  <mat-option value="1">Administrador</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit" [disabled]="addEmployeeForm.invalid">
            Añadir Empleado
        </button>
    </form>
</div>
