
:root{
    --primary-color: #00457d;
    --secondary-color: #3da9fc;
    --color-accent: #f44336;
    --color-white: #ffffff;
}
html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    height: 100vh;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.color-secondary{
    color: var(--secondary-color);
}
.color-accent{
    color: var(--color-accent);
}