
:root{
    --primary-color: #0d47a1;
    --secondary-color: #1565c0;
    --color-white: #ffffff;
}
html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    height: 100vh;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
