.spacer {
    flex: 1 1 auto;
}
button{
  border: solid 3px var(--color-white);
  background-color: transparent;
  color: var(--color-white)!important;
  text-transform: uppercase;
  margin-right: 10px;
}
.content{
    height:calc(100vh - 64px);
}
@media(max-width:600px){
    .content{
        height:calc(100vh - 56px);
    }
}

.container{
    background-image: url("../../../../../assets/img/bg-public.svg");
}